*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika';
  font-size: 20px;
}
.App {
  text-align: center;
}

@keyframes rotateX {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo_link {
  text-decoration: none;
}
.xchange_xletter {
  color: #aa3a3a;
  font-weight: bold;
  font-size: 46px;
  display: inline-block;
  animation: rotateX 2s linear infinite;
  transform: rotate(1deg);
}
.logo {
  color: #fff;
  font-size: 26px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3f4441;
  height: 8vh;
  text-align: start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 40px;
}

.countries{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-left: 200px;
  
}

.result-container{
  display: flex;
  height: 200px;
  width: 20vw;
}
.flag-container{
  display: flex;
  justify-content: space-between;
  width: 15vw;
  color: #aa3a3a;
  font-weight: bold;
}

.flagg-container{
  
}
.flag{
  width: 150px;
  height: 100px;
}

.conversion-container{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
}

.input-country{
  height: 5vh;
  width: 20vw;
  padding-left: 15px;
  border-radius: 10px;
  border: #c0bebe solid 1px;
  outline: none;
}

.country-item{
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 30vw;
  justify-content: space-around;
  align-items: flex-start;
  
}

.exchange-button{
  height: 5vh;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #aa3a3a;
  color: #fff;
  width: 100px;
}

.basic-conversion{
  font-size: 1.5em;
  color: #aa3a3a;
  font-weight: bold;
  margin-top: 30px;

}

.rate{
  margin-top: 8px;
  color: #3b3b3b;
}
